.hero {
  text-align: center;
  margin-top: 45px;
  padding: 150px 20px 100px 20px;
  background: linear-gradient(
    135deg,
    #6a11cb,
    #2575fc
  ); /* Softer, welcoming gradient */
  color: white;
  position: relative;
  overflow: hidden;
}

/* Background animated shapes */
.hero::before,
.hero::after {
  content: "";
  position: absolute;
  width: 600px;
  height: 600px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  z-index: 0;
  animation: floating 10s ease-in-out infinite;
}

.hero::before {
  top: -200px;
  left: -300px;
}

.hero::after {
  bottom: -200px;
  right: -300px;
}

@keyframes floating {
  0%,
  100% {
    transform: translateY(0) translateX(0);
  }
  50% {
    transform: translateY(-20px) translateX(20px);
  }
}

/* Main Heading */
.hero h1 {
  font-size: 3.5rem;
  margin-bottom: 20px;
  z-index: 0;
  position: relative;
  color: white; /* White for strong contrast */
  opacity: 0;
  animation: fadeInUp 1s forwards;
}

/* Subtext */
.hero p {
  font-size: 1.5rem;
  margin-bottom: 50px;
  z-index: 0;
  position: relative;
  color: #f0f0f0; /* Slightly off-white for softer contrast */
  opacity: 0;
  animation: fadeInUp 1.5s forwards;
}

/* Upload button with pulsing animation */
.upload-btn {
  background-color: #ff8c42; /* Soft orange to complement background */
  padding: 16px 32px;
  font-size: 1.2rem;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  z-index: 0;
  position: relative;
  animation: pulse 2s infinite ease-in-out;
}

.upload-btn:hover {
  background-color: #ff7633; /* Darker orange on hover */
  transform: translateY(-3px);
  transition: all 0.8s ease;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 140, 66, 0.7);
  }
  70% {
    transform: scale(1.05);
    box-shadow: 0 0 0 30px rgba(255, 140, 66, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 140, 66, 0);
  }
}

.video-upload button {
  background-color: #25e9d8;
  /* animation: pulse 0.9s infinite ease-in-out; */
  transform: translateY(-3px);
}


/* Example GIF */
.example-gif {
  width: 200px;
  margin-top: 20px;
  z-index: 0;
  position: relative;
}

/* Fade In Animation */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
